

.chat{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: #F3F3F3;
}

.dialog{
    margin: 0 0 20px 0;
    height: 600px;
    width: 500px;
    overflow: auto;
}
ul{
    margin: 0px;
    padding: 0px;
}
.dialog>div{
    width: fit-content;
    list-style-type: none;
    height: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
}

.container{
    width: available;
}

.client{
    background-color: #20D5D2;
}
.server{
    background-color: #408BFC;
}

.form{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}